*{
    font-family: verdana;
    margin: 0;
    
  }
  body{
    max-width: 100svw;
    display:flex;
  }

  h1, h2, h3, h4{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #main-doc{
    
  }
  .main-section{
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: solid black ;
    border-bottom-style:dotted;
  }
  #navbar{
    height: auto;
    background-color: rgba(30, 19, 50, 0.7);
    border: 2px;
    border-style: solid;
    border-color: black;
    min-width: 8.4em;
  }
  #nav-header{
    padding: 1rem;
    text-align: center;
  }
  nav ul{
    margin:0;
    padding:0;
    list-style: none;
  }
  nav ul li{
    color: white;
    background-color: rgba(30, 19, 50, 0.7);
    border: 2px;
    border-style: solid;
    border-color: black;
    margin: 0.2rem 0;
    
  }
  nav ul li:hover{
    color: rgb(30, 19, 50);
    background-color: white;
    
  }
  #navbar a{
    text-decoration: none;
  }
  
  @media (max-width: 500px){
    body{
      /* display: block; */
      flex-direction: column;
    }
      
    #navbar{
      width: 100%;
    }
  
  }

  .code{
    background-color: lightgrey;
    font-family:Consolas, "courier new";
    font-size: medium;
    padding: 1rem;
    border: solid black;
    overflow-x: scroll;
  }
  